* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #000;
}

.continente {
  width: 80%;
  max-width: 1024;
  margin: 0px auto;
}

.titulo {
  display: flex;
  margin: 20px auto;
}
.titulo h1 {
  color: #dafa01;
  padding: 45px;
  text-align: center;
  font-size: 2rem;
}

.menu_bar {
  display: none;
}

header {
  width: 100%;
}
header nav {
  background: #564c4c;
  z-index: 1000;
  max-width: 1000px;
  width: 95%;
  margin: 10px auto;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  position: relative;
}
header nav ul li .caret {
  position: relative;
  top: 3px;
  margin-left: 10px;
  margin-right: 0px;
}
header nav ul li .children {
  display: none;
  background: royalblue;
  position: absolute;
  width: 130%;
  z-index: 1000;
}
header nav ul li .children li {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
header nav ul li .children li a {
  display: block;
}
header nav ul li .children li a span {
  float: right;
  position: relative;
  margin-right: 0px;
  margin-left: 10px;
}
header nav ul li a {
  color: #fff;
  display: inline;
  text-decoration: none;
  padding: 10px;
}
header nav ul li a span {
  margin-right: 10px;
}

header nav ul li:hover {
  background: rgba(0, 0, 0, 0.8);
}
header nav ul li:hover .children {
  display: block;
}

@media screen and (max-width: 800px) {
  header {
    padding-top: 80px;
  }

  .menu_bar {
    display: block;
    width: 90%;
    position: fixed;
    top: 0px;
  }
  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }
  .menu_bar span {
    float: right;
    font-size: 40px;
  }

  header nav {
    width: 80%;
    height: calc(100% - 60px);
    position: fixed;
    right: 100%;
    margin: 0px;
    overflow: scroll;
  }
  header nav ul li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  header nav ul li a {
    display: block;
  }
  header nav ul li .children {
    width: 100%;
    position: relative;
  }
  header nav ul li .children li a {
    margin-left: 20px;
  }

  header nav ul li .caret {
    float: right;
  }

  header nav ul li:hover .children {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .titulo h1 {
    width: 50%;
    color: red;
    font-size: 1.5rem;
    display: flex;
  }
}
.main {
  width: 90%;
  max-width: 1500px;
  margin: 20px auto;
}

.slides {
  width: 100%;
}
.slides .active {
  background: royalblue;
}

.slidesjs-pagination {
  background-color: #564c4c;
  list-style: none;
  margin-top: 20px;
  overflow: hidden;
}
.slidesjs-pagination li {
  float: left;
}
.slidesjs-pagination li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.slidesjs-pagination li a:hover {
  background: royalblue;
}

.slidesjs-navigation {
  background: royalblue;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  float: right;
  margin-top: 20px;
}

.slides img {
  width: 100%;
}

/*# sourceMappingURL=estilo.css.map */
